<div class="container" style=" margin-top: 10px;">
    <div class="row">
        <div class="col-sm-3">
          <app-aside></app-aside>
        </div>
        <div class="col-sm-9">
        <div style="margin-top: 10px; background-color:white; padding: 20px; height: 1000px;">
      
        <h3>Student list</h3>
            <br>
      <table class="table table-hover table-responsive">
        <thead class="bg-primary">
        <tr>
          <th>Name</th>
          <!-- <th>Age</th> -->
          <!-- <th>Gender</th> -->
          <th>Position</th>
          <th>Company</th>
          <!-- <th>Email</th> -->
          <th>Contact</th>
          <th>Detail</th>    
          <th>Edit</th>
          <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of studentList">
          <td>{{ student.english_name }}</td>
          <!-- <td>{{ student.age }}</td> -->
          <!-- <td>{{ student.gender }}</td> -->
          <td>{{ student.position }}</td>
          <td>{{ student.sending_company }}</td>
          <!-- <td>{{ student.email_address }}</td>  -->
          <td>{{ student.phone_number }}</td> 
          <td><a class="btn" (click)="onSelect(student)"> <i class="fa fa-eye"></i></a></td>
          <td><a class="btn" (click)="onUpdate(student)"> <i class="fa fa-edit"></i></a></td>
          <td><a class="btn" (click)="onDelete(student.$key)"><i class="fa fa-trash-o"></i></a></td>
        </tr>
    </tbody>
      </table>
      </div>
    </div>
    </div>
    </div>