<div class="container">
    <div class="row">
      <div class="col-sm-3">
        <app-aside></app-aside>
      </div>
      <div class="col-sm-9">
          <div style="margin-top: 10px; background-color:white; padding: 20px;">
              <div class="bg-primary text-center">
                <h3 style="padding: 5px">Experience Entry</h3>
              </div>
                <form #experienceForm="ngForm" (ngSubmit)="onSubmit(experienceForm)" class="form-group">
                      <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="experienceService.selectedExperience.$key">
                          <div class="form-group">
                              <label for="student_name">Student Name</label>
                              <input type="text" class="form-control" name="student_name" #student="ngModel" [(ngModel)]="experienceService.selectedExperience.student_name" placeholder="English Full Name Of Student">
                          </div>
                          <div class="form-group">
                              <label for="start_date">Start Date</label>
                              <input class="form-control" name="start_date" #start_date="ngModel" [(ngModel)]="experienceService.selectedExperience.start_date" placeholder="Start working Date">
                          </div>
                          
                          <div class="form-group">
                              <label for="leave_date">Leaving Date</label>
                              <input class="form-control" name="leave_date" #leave_date="ngModel" [(ngModel)]="experienceService.selectedExperience.leave_date" placeholder="Leave working Date">
                          </div>
                          <div class="form-group">
                            <label for="company_name">Company Name</label>
                            <input class="form-control" name="company_name" #company_name="ngModel" [(ngModel)]="experienceService.selectedExperience.company_name" placeholder="Name of Company or Organize">
                          </div>
                          <div class="form-group">
                              <label for="position">Position</label>
                              <input class="form-control" name="position" #position="ngModel" [(ngModel)]="experienceService.selectedExperience.position" placeholder="Responsibilities">
                          </div>
                    <div class="form-group">
                      <button class="btn btn-primary" type="submit"> <i class="fa fa-floppy-o"> </i> Submit</button> || 
                      <button class="btn btn-primary" type="button" (click)="resetForm(experienceForm)"> <i class="fa fa-repeat"> </i> Reset</button>
                    </div>
                  </form>
            </div>
      </div>
    </div>
</div>