<div id="asidelayout">
                <ul>
                    <!-- <li><a routerLink="/home" routerLinkActive="active current">Home</a></li> -->
                    <li><a routerLink="/home" routerLinkActive="active current">New Student</a></li>
                    <li><a routerLink="/attendance" routerLinkActive="active current">New Attendence</a></li>  
                    <li><a routerLink="/attendances-list" routerLinkActive="active current">Attendence List</a></li>      
                </ul>
</div>
