<div id="asidelayout">
                <ul>
                    <!-- <li><a routerLink="/home" routerLinkActive="active current">Home</a></li> -->
                    <li><a routerLink="/home" routerLinkActive="active current">New Student</a></li>
                    <li><a routerLink="/student-list" routerLinkActive="active current">Student List</a></li>
                    <li><a routerLink="/attendance" routerLinkActive="active current">New Attendence</a></li>  
                    <li><a routerLink="/attendances-list" routerLinkActive="active current">Attendence List</a></li> 
                    <li><a routerLink="/interview" routerLinkActive="active current">New Interview</a></li>    
                    <li><a routerLink="/interview-list" routerLinkActive="active current">Interview List</a></li>      
                    <li><a routerLink="/family" routerLinkActive="active current">New Family</a></li>    
                    <li><a routerLink="/family-list" routerLinkActive="active current">Family List</a></li>      
                    <li><a routerLink="/experiences" routerLinkActive="active current">New Experience</a></li>    
                    <li><a routerLink="/experiences-list" routerLinkActive="active current">Experience List</a></li>      
                </ul>
</div>
