<div class="container-fluid">    
    <div class="container" style=" margin-top: 10px;">
        <div style="margin: 0px; padding: 20px ;background-color: white;  height: 1000px;">
            <div *ngIf="this.student" >
                <div class="bg-primary"><h3 class="text-center" style="padding: 10px">Student Name: {{ this.student.english_name }}</h3></div>
                <div style="padding: 15px; align-content: center;">
                    <div class="row" style="background-color: honeydew;">
                        <div class="col-md-3 textCenter"><p class="pdetail">Student Name :  {{ this.student.english_name }}</p></div>
                        <div class="col-md-3 textCenter"><p class="pdetail">Student age :  {{ this.student.khmer_name }}</p></div>
                        <div class="col-md-3 textCenter"><p class="pdetail">Student Birthday :  {{ this.student.date_of_birth }}</p></div>
                        <div class="col-md-3 textCenter"><p class="pdetail">Student Birthday :  {{ this.student.date_of_birth }}</p></div>
                    </div>
                    <div class="row" style="background-color: honeydew;">
                            <div class="col-md-3 textCenter"><p class="pdetail">Student Name :  {{ this.student.english_name }}</p></div>
                            <div class="col-md-3 textCenter"><p class="pdetail">Student age :  {{ this.student.khmer_name }}</p></div>
                            <div class="col-md-3 textCenter"><p class="pdetail">Student Birthday :  {{ this.student.date_of_birth }}</p></div>
                            <div class="col-md-3 textCenter"><p class="pdetail">Student Birthday :  {{ this.student.date_of_birth }}</p></div>
                        </div>
                    <div class="row" style="background-color: honeydew;">
                                <div class="col-md-3 textCenter"><p class="pdetail">Student Name :  {{ this.student.english_name }}</p></div>
                                <div class="col-md-3 textCenter"><p class="pdetail">Student age :  {{ this.student.khmer_name }}</p></div>
                                <div class="col-md-3 textCenter"><p class="pdetail">Student Birthday :  {{ this.student.date_of_birth }}</p></div>
                                <div class="col-md-3 textCenter"><p class="pdetail">Student Birthday :  {{ this.student.date_of_birth }}</p></div>
                    </div>
                    <div class="row" style="background-color: honeydew;">
                        <div class="col-md-3 textCenter"><p class="pdetail">Student Name :  {{ this.student.english_name }}</p></div>                            <div class="col-md-3 textCenter"><p class="pdetail">Student age :  {{ this.student.khmer_name }}</p></div>
                        <div class="col-md-3 textCenter"><p class="pdetail">Student Birthday :  {{ this.student.date_of_birth }}</p></div>
                        <div class="col-md-3 textCenter"><p class="pdetail">Student Birthday :  {{ this.student.date_of_birth }}</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>