<div class="container">
    <ul>
        <li><a routerLink="/home" routerLinkActive="active current"><i class="fa fa-home fa-lg" aria-hidden="true"> </i>  Home</a></li>
        <li><a routerLink="/student" routerLinkActive="active current">Students</a></li>
        <li><a routerLink="/fujiyama" routerLinkActive="active current">Fujiyama</a></li>
        <!-- <li style="float:right"><a routerLink="/signin" routerLinkActive="active current"><i class="fa fa-sign-in fa-lg"></i> SingIn</a></li>
        <li style="float:right"><a routerLink="/signup" routerLinkActive="active current"><i class="fa fa-user-plus"></i> SingUp</a></li> -->
      </ul>
</div>
  